<header>
  <div id="top" class="big-bg">
      <header class="page-header wrapper">
          <nav>
              <ul class="main-nav">
                <% if user_signed_in? %>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %></li>
                  <li><%= link_to "マイページ", "/users/#{current_user.id}", method: :get, class: "link" %></li>
                <% end %>
              </ul>
          </nav>
      </header>

      <div class="top-content wrapper">
          <h2 class="page-title-top">Start Here<br>Quickly!!!</h2>
          <p>今すぐ、ここから始めよう！</p>
      <% if user_signed_in? %>
          <%= link_to "質問する", new_question_path, method: :get, class: "button" %>
      <% elsif %>
          <%= link_to "新規登録", new_user_registration_path, method: :get, class: "button" %>
          <%= link_to "ログイン", new_user_session_path, method: :get, class: "button" %>
      <% end %>
      </div><!-- /.top-content -->
  </div><!-- /#top -->
</header>

<div class="question-content wrapper">
  <h2 class="questions">質問一覧</h2>
</div><!-- /.question-content -->

<div class="wrapper grid">

  <% if @questions.present? %> 
    <% @questions.each do |question|%> 
      <div class="question">
        <%= link_to(question_path(question.id), method: :get) do %>  
          <%# <%= image_tag question.image, class: "question-img" %> 
          <p> <%= question.incomp_text %> </p>
          <%# <% if question.comments.present? %> 
          <%# <div class='commentes'>
            <span>コメントあり！</span>
              </div> 
          <% end %>
        <% end %>  
      </div>
    <% end %>
  <% end %> 
<%# 質問画像と内容の配置 %>
  
</div><!-- /.grid -->