<div id="question-show" class="big-bg">
    <header class="page-header wrapper">
      <% if user_signed_in? %>
        <nav>
            <ul class="main-nav">
                <li><%= link_to "トップ", questions_path, method: :get, class: "top-link" %></li>
                <li><%= link_to "マイページ", "/users/#{current_user.id}", method: :get, class: "q-link" %></li>
            </ul>
        </nav>
      <% else %>
        <nav>
          <ul class="main-nav">
              <li><%= link_to "トップページに戻る", questions_path, method: :get, class: "show-top-link" %></li>
          </ul>
        </nav>
        <div class="top-content wrapper">
          <%= link_to "新規登録", new_user_registration_path, method: :get, class: "regist-button" %>
          <%= link_to "ログイン", new_user_session_path, method: :get, class: "session-button" %>
        </div>
      <% end %>
    </header>
    
    <div class="wrapper grid">
        <div class="question">
            <%# <img src="images/question1.jpg" alt="質問画像"> %>
            <%= image_tag  @question.image, class: "question-img" if @question.image.attached? %> 
            <p>わかったところ：<br><%= @question.comp_text %></p><br>
            <p>わからないところ：<br><%= @question.incomp_text %></p><br>
            <% if user_signed_in? && current_user.id != @question.user_id %>
              <%= form_with(model: [@question, @advice], local: true) do |form| %>
                <%= form.text_area :text, placeholder: "アドバイスする", class: "advising" %>
                <%= form.submit "アドバイス送信" , class: "advice-button"%>
              <% end %>
            <% end %>
            <div class="advice"><br>
            <h4 class="advice-index">[アドバイス一覧]</h4><br>
            <% if @advices.present?  %>
                <% @advices.each do |advice| %>
                <p>
                    <%= advice.text %>
                </p>
                <p>
                    <span class=adviser>(<%= advice.user.name %> からのアドバイス)</span><br>
                </p>
                <% end %>
            <% else %>
              <p>まだアドバイスはないよ</p>
            <% end %>
            </div>
        </div>
    </div>
</div>