<div id="question-show" class="big-bg">
    <header class="page-header wrapper">
      <% if user_signed_in? %>
        <nav>
            <ul class="main-nav">
                <li><%= link_to "トップ", questions_path, method: :get, class: "top-link" %></li>
                <li><%= link_to "マイページ", "/users/#{current_user.id}", method: :get, class: "q-link" %></li>
                <li><%= link_to "質問する", new_question_path, method: :get, class: "q-link" %></li>
            </ul>
        </nav>
      <% else %>
        <nav>
          <ul class="main-nav">
              <li><%= link_to "トップ", questions_path, method: :get, class: "top-link" %></li>
          </ul>
        </nav>
        <div class="top-content wrapper">
          <%= link_to "新規登録", new_user_registration_path, method: :get, class: "button" %>
          <%= link_to "ログイン", new_user_session_path, method: :get, class: "button" %>
        </div>
      <% end %>
    </header>
    
    <div class="wrapper grid">
        <div class="question">
            <%# <img src="images/question1.jpg" alt="質問画像"> %>
            <%= image_tag  @question.image, class: "question-img" if @question.image.attached? %> 
            <p>わかったところ：<br><%= @question.comp_text %></p><br>
            <p>わからないところ：<br><%= @question.incomp_text %></p>
        </div>
    </div>
</div>