<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>SHQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Start Here Quickly!!!  さあ、質問しよう！">
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
      <footer>
          <div class="wrapper">
              <p><small>&copy; 2020 Sho Utsumi</small></p>
          </div>
      </footer>
  </body>
</html>
